{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
  <h1 class="text-center" >Actualiza el mensaje</h1>
  <form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <textarea name="title" id="title" cols="30" rows="1" value="{{ request.form['title'] }}" class="form-control" > {{ message['title'] }}</textarea>
    </div>
        
    <div class="mb-3">
        <label for="picture" class="form-label">Foto</label>
        <textarea name="picture" id="picture" cols="50" rows="1" value="{{ request.form['picture'] }}" class="form-control" > {{ message['picture'] }}</textarea>

    </div>                  
        
    <div class="mb-3">
        <label for="content" class="form-label">Contenido del mensaje</label>
        <textarea name="content" id = content
        placeholder="Contenido el mensaje"
        rows="15"
        cols="60"
        class="form-control" 
        value="{{ request.form['content'] }}" > {{ message['content'] }} </textarea>        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
{% endblock %}   