{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
  <h1 class="text-center" >Agrega un nuevo Producto</h1>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre de la img</label>
            <input type="text" name="name" id="name"
            placeholder="Titulo de la imágen"
            value="{{ request.form['name'] }}" class="form-control"></input>
        </div>
            
        <div class="mb-3">
            <label for="picture" class="form-label">Imágen</label>
            <input type="text" name="img" id="img" placeholder="URL Foto"
            value="{{ request.form['img'] }}" class="form-control"></input>
        </div>                  
            
        <div class="mb-3">
            <label for="content" class="form-label">Descripción</label>
            <textarea name="content" id = content
            placeholder="Contenido del mensaje"
            rows="15"
            cols="60"
            class="form-control">{{ request.form['content'] }}</textarea>        
        </div>

        <div class="mb-3">
            <label for="type_of" class="form-label">Tipo de imagen </label>
            <input type="text" name="type_of" id="type_of" placeholder="type"
            value="{{ request.form['type_of'] }}" class="form-control"></input>
        </div>

        


        <button type="submit" class="btn btn-primary">Submit</button>
        

{% endblock %}   