{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
<!-- Begin page content -->

<main class="flex-shrink-0">
  <div class="container">
    <h1 class="d-inline">Mensajes</h1>
    <a href="{{ url_for('messages.create')}}" class='btn btn-primary float-end'>Nuevo</a>

      <div class="col-5">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            
          {% for gender in genders %}
            
          <div class="container">
            <h2>
              {{ gender['name']}}
            </h2>
          </div>
    
            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} ">
              <img src="{{ images['img']}}" class="d-block w-100"  alt="...">
            </div>
          {% endfor %}
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
    </div>
    
    
    
    
  </div>
</main>
{% endblock %}    